@use "@shared/styles/mixins/divMixin.scss" as globalDivMixins;
@use "@shared/styles/variables/variables.module" as globalVariables;
@use "@shared/styles/mixins/transformMixin" as globalTransformMixin;
@use "@shared/styles/mixins/breakpointsMixin" as breakpointsMixin;
.footerCon {
  @include globalDivMixins.div(section);
  height: 50rem; // 800px
  align-items: start;
  gap: 5%;
  @include breakpointsMixin.respond-to("tablet") {
    flex-direction: column;
    align-items: center;
    height: auto;
    row-gap: 2rem;
  }
}

.mainColumn {
  @include globalDivMixins.div();
  border: none;
  width: 80%;
  padding: 0;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  @include breakpointsMixin.respond-to("tablet") {
    row-gap: 2rem;
    width: 100%;
  }
}
.forecastSection {
  @include globalDivMixins.div();
  width: 100%;
  height: 40%;
  // gap: 1rem;
  @include breakpointsMixin.respond-to("tablet") {
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
  }
}
.mapSection {
  @include globalDivMixins.div(big);
  @include globalTransformMixin.transformMixin();
  padding: 0;
  height: 50%;
  .map {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  @include breakpointsMixin.respond-to("tablet") {
    min-height: 25rem; // 160px
    width: 100%;
  }
}
.asideColumn {
  @include globalDivMixins.div();
  height: auto;
  width: 20%;
  align-items: baseline;
  .cityList {
    @include globalDivMixins.div();
    border: none;
    height: 100%;
    padding: 0;
    width: 100%;
    gap: 0.5rem;
    flex-direction: column;
    h3 {
      font-size: 2rem; // 20px
    }
    div {
      @include globalDivMixins.div();
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      @include globalTransformMixin.transformMixin();
    }
  }
  @include breakpointsMixin.respond-to("tablet") {
    width: auto;
  }
}
