@use "@shared/styles/mixins/divMixin.scss" as globalDivMixins;
@use "@shared/styles/variables/variables.module" as globalVariables;

.footerCon {
  @include globalDivMixins.div(section);
  height: 800px;
  gap: 5%;
}

.mainColumn {
  @include globalDivMixins.div();
  border: none;
  width: 80%;
  gap: 5%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forecastSection {
  @include globalDivMixins.div(large);
  border: none;
  width: 100%;
  height: 45%;
  column-gap: 2%;
}
.mapSection {
  @include globalDivMixins.div(big);
  padding: 0;
  height: 45%;
  .map {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}
.asideColumn {
  @include globalDivMixins.div();
  height: 90%;
  width: 20%;
  align-items: baseline;
  .cityList {
    @include globalDivMixins.div();
    border: none;
    height: 50%;
    width: 90%;
    gap: 2%;
    flex-direction: column;
    h3 {
      font-size: 20px;
    }
    div {
      @include globalDivMixins.div();
      justify-content: flex-start;
      border-width: 1px;
      width: 90%;
      height: 15%;
    }
  }
}
