@use "@shared/styles/variables/variables.module" as global_variables;
@mixin btn() {
  width: 50px;
  height: 20px;
  padding: 10px;
  border-style: inherit;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;

  font-size: inherit;
  font-family: inherit;
}
