@use "@shared/styles/variables/variables.module" as globalVariables;
@use "@shared/styles/mixins/transformMixin" as globalTransformMixin;
@use "@shared/styles/mixins/darkModeMixin" as globalDarkModeMixin;
@mixin btn() {
  width: 3.125rem; // 50px
  height: 1.25rem; // 20px
  padding: 0.625rem; // 10px

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  cursor: pointer;

  font-size: inherit;
  font-family: inherit;

  border-style: solid;
  border-radius: globalVariables.$baseBorderRadius;
  border-width: globalVariables.$baseBorderWidth;
  border-color: globalVariables.$baseBackColorDark;

  @include globalDarkModeMixin.darkModeMixin(
    null,
    null,
    globalVariables.$baseBorderColorDark
  );

  @include globalTransformMixin.transformMixin();
}
