@use "@shared/styles/variables/variables.module" as globalVariables;
@mixin btn() {
  width: 50px;
  height: 20px;
  padding: 10px;
  border-style: inherit;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;

  font-size: inherit;
  font-family: inherit;
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
  outline: none;
  &:hover {
    outline: none;
    transition: transform 0.1s ease-in-out;
    transform: scale(1.05);
  }
  
}
