@use "@shared/styles/variables/variables.module" as global_variables;

@mixin div-style() {
  display: flex;
  align-items: center;
  border-style: solid;
  font-family: inherit;
  color: global_variables.$base__font-color;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  border-color: white;

  font-size: global_variables.$base__font-size;
  background-color: global_variables.$base__back-color;
  border-width: global_variables.$base__border-width;
}

@mixin small-div-style() {
  @include div-style();
  width: 160px;
  height: 80px;
}

@mixin standart-div-style() {
  @include div-style();
  width: 180px;
  height: 180px;
}
@mixin big-div-style() {
  @include div-style();
  width: 500px;
  height: 500px;
}
@mixin large-div-style() {
  @include div-style();
  width: 80%;
  height: 10%;
}

@mixin section-div-style() {
  @include div-style();
  margin-top: 15px;
  width: 80%;
  height: 600px;
}
