@use "@shared/styles/variables/variables.module" as global_variables;

@mixin div-style() {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;

  border: inherit;
  border-radius: 10px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 10px;
}

@mixin small-div-style() {
  @include div-style();
  width: 160px;
  height: 80px;
}

@mixin standart-div-style() {
  @include div-style();
  width: 180px;
  height: 180px;
}
@mixin big-div-style() {
  @include div-style();
  width: 500px;
  height: 500px;
}
@mixin large-div-style() {
  @include div-style();
  width: 80%;
  height: 10%;
}

@mixin section-div-style() {
  @include div-style();
  margin-top: 15px;
  width: 80%;
  height: 600px;
}
