@use "@shared/styles/variables/variables.module" as globalVariables;
@use "@shared/styles/mixins/darkModeMixin" as globalDarkModeMixin;

@mixin baseDiv() {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;

  border-style: solid;
  border-color: globalVariables.$baseBackColorDark;
  border-width: globalVariables.$baseBorderWidth;
  border-radius: globalVariables.$baseBorderRadius;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0.625rem; // 10px

  @include globalDarkModeMixin.darkModeMixin(
    null,
    null,
    globalVariables.$baseBorderColorDark
  );
}

@mixin smallDiv() {
  width: 10rem; // 160px
  height: 5rem; // 80px
}

@mixin standardDiv() {
  width: 13.125rem; // 210px
  height: 14.375rem; // 230px
}

@mixin bigDiv() {
  width: 31.25rem; // 500px
  height: 31.25rem; // 500px
}

@mixin largeDiv() {
  width: 80%;
  height: 10%;
}

@mixin sectionDiv() {
  padding: 2rem 1.2rem;
  width: 100%;
  height: 37.5rem; // 600px
}

@mixin div($type: standard) {
  @include baseDiv();
  @if $type == small {
    @include smallDiv();
  }
  @if $type == standard {
    @include standardDiv();
  }
  @if $type == big {
    @include bigDiv();
  }
  @if $type == large {
    @include largeDiv();
  }
  @if $type == section {
    @include sectionDiv();
  }
}
