@use "@shared/styles/variables/variables.module" as globalVariables;
@mixin themeToggle($currentTheme: light) {
  @if $currentTheme == light {
    background-color: white;
    color: black;
  }
  @if $currentTheme == dark {
    background-color: black;
    color: white;
  }
}
