@use "@shared/styles/variables/variables.module" as global_variables;
@mixin theme-toggle($current-theme: light) {
  @if $current-theme == light {
    background-color: white;
    color: black;
  }
  @if $current-theme == dark {
    background-color: black;
    color: white;
  }
}
