@use "@shared/styles/variables/variables.module" as globalVariables;
@use "@shared/styles/mixins/divMixin" as globalDivMixins;
.wrapper {
  @include globalDivMixins.div();
  height: 100dvh;
  width: 100dvw;
  border: none;
  position: relative;
  flex-direction: column;
}

.themeBtnCon {
  @include globalDivMixins.div();
  width: auto;
  height: auto;
  position: absolute;
  right: 10%;
  top: 0;
  border: none;
}

// .formCon {
//   @include globalDivMixins.div();
//   padding: 1rem 0;
//   height: 90dvh;
//   width: 90dvw;
//   flex-direction: column;
// }
