//common
$baseFontSize: 25px;
$baseFontWeight: 500;
$baseBorderWidth: 2px;

//light mode
$baseFontColor: black;
$baseBackColor: white;
$baseBorderColor: black;

//dark mode
$baseFontColorDark: white;
$baseBackColorDark: black;
$baseBorderColorDark: white;

