//common
$baseFontSize: 25px;
$baseFontWeight: 500;
$baseBorderWidth: 3px;
$baseBorderRadius: 10px;

//light mode
$baseFontColor: black;
$baseBackColor: white;
$baseBorderColor: black;

//dark mode
$baseFontColorDark: white;
$baseBackColorDark: black;
$baseBorderColorDark: white;

