//common
$fontSizes: (
  "mobile": 18px,
  "tablet": 22px,
);

$baseFontSize: 25px;
$baseFontWeight: 500;
$baseBorderWidth: 0.1875rem; //3px
$baseBorderRadius: 0.625rem; //10px

//light mode
$baseFontColor: black;
$baseBackColor: white;
$baseBorderColor: black;

//dark mode
$baseFontColorDark: white;
$baseBackColorDark: black;
$baseBorderColorDark: white;
