@use "@shared/styles/variables/variables.module" as globalVariables;
@use "@shared/styles/mixins/divMixin.scss" as globalDivMixins;
.homeCon {
  @include globalDivMixins.div();
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  border: inherit;
}
