@use "@shared/styles/mixins/div_mixin" as global_mixins;
@use "@shared/styles/variables/variables.module" as global_variables;
.main__con {
  @include global_mixins.section-div-style();
  // height: 600px;

  gap: 2%;
}

// current weather
.current_weather__con {
  @include global_mixins.big-div-style();
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  align-content: flex-end;
}

.current_weather__con_header {
  @include global_mixins.large-div-style();
  justify-content: space-between;
  border: none;
}
.current_weather__con_main {
  @include global_mixins.div-style();
  width: 90%;
  height: 40%;
  flex-direction: column;
  border: none;

  div:nth-child(1) {
    @include global_mixins.div-style();
    width: 100%;
    height: 10%;
    font-size: 16px;
    border: none;
    justify-content: flex-start;
  }
  div:nth-child(2) {
    @include global_mixins.div-style();
    width: 100%;
    height: 70%;
    border: none;
    font-size: 60px;
  }
}

.current_weather__con_footer {
  @include global_mixins.div-style();
  width: 90%;
  height: 40%;
  gap: 10%;
  border: none;
  justify-content: space-between;
}
.current_weather__con_footer_weather {
  @include global_mixins.div-style();
  height: 70%;
  width: 40%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;

  div {
    display: flex;
    align-items: center;
    gap: 20%;
    width: 90%;
    height: 40%;
  }
}
.current_weather__con_footer_wind {
  @include global_mixins.div-style();
  height: 70%;
  width: 40%;
  flex-direction: column;
  font-size: 16px;
  div:nth-child(1) {
    display: flex;
    height: 20%;
    width: 90%;
    background-color: red;
  }
}

// metrics
.metrics__main_con {
  @include global_mixins.large-div-style();
  height: 90%;
  width: 60%;
  flex-direction: column;
  gap: 2%;
}

.metric__con {
  @include global_mixins.large-div-style();
  border: none;
  height: 50%;
  display: flex;
  width: 99%;
  gap: 2%;
}
