@use "@shared/styles/mixins/divMixin" as globalDivMixin;
@use "@shared/styles/mixins/btnMixin" as globalBtnMixin;
@use "@shared/styles/mixins/darkModeMixin" as globalDarkModeMixin;
@use "@shared/styles/variables/variables.module" as globalVariables;

.errorCon {
  @include globalDivMixin.div();
  flex-direction: column;
  row-gap: 2rem;
  width: 100dvw;
  height: 100dvh;
  border: none;
}
.errorTextCon {
  @include globalDivMixin.div();
  flex-direction: column;
  border: none;
  width: auto;
  height: auto;
  text-align: center;
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}
.resetBtn {
  @include globalBtnMixin.btn();
  width: 10rem;
  height: 3rem;
  @include globalDarkModeMixin.darkModeMixin();
}
