@use "@shared/styles/mixins/divMixin" as globalDivMixin;
@use "@shared/styles/mixins/btnMixin" as globalBtnMixin;
.errorCon {
  @include globalDivMixin.div(section);
  flex-direction: column;
  border: none;
  h2 {
    margin: 0;
  }
  
}
.resetBtn {
  @include globalBtnMixin.btn();
  width: 10%;
  height: 7%;
  @media (prefers-color-scheme: 'dark') {
    background-color: white;
    color: black;
  }
  @media (prefers-color-scheme: 'white') {
    background-color: black;
    color: white;
  }
}
