@use "sass:map";

@use "@shared/styles/variables/variables.module" as globalVariables;
@use "@shared/styles/mixins/themeMixin" as globalThemeMixin;
@use "@shared/styles/mixins/breakpointsMixin" as breakpointsMixin;
// for reset styles
@import "tailwindcss";
body {
  border: none;
  display: flex;
  justify-content: center;
  font-size: globalVariables.$baseFontSize;
  font-weight: globalVariables.$baseFontWeight;
  padding: 0 10% !important; // !important to override Tailwind's padding
  :focus {
    outline-offset: 0.25rem;
    outline: 0.19rem solid #4a90e2;
  }
  @include globalThemeMixin.themeToggle($currentTheme: light);
  @each $breakpoint, $fontSize in globalVariables.$fontSizes {
    @include breakpointsMixin.respond-to($breakpoint) {
      font-size: $fontSize;
    }
  }
}

.dark body {
  @include globalThemeMixin.themeToggle($currentTheme: dark);
}
