@use "@shared/styles/variables/variables.module" as globalVariables;
@use "@shared/styles/mixins/divMixin" as globalMixins;
@use "@shared/styles/mixins/transformMixin" as globalTransformMixin;
.container {
  @include globalMixins.div(standard);
  padding: 20px 5px;
  flex-direction: column;
  @include globalTransformMixin.transformMixin();
}

.containerLarge {
  width: 420px;
  height: 180px;
}

.header {
  @include globalMixins.div(large);
  height: 10%;
  width: 90%;
  border: none;
  justify-content: flex-start;
  gap: 5%;

  h3 {
    font-size: 20px;
    font-weight: 500;
  }
}

.content {
  @include globalMixins.div(small);
  width: 90%;
  padding: 10px;
  justify-content: flex-start;
  border: none;

  h2 {
    font-size: 40px;
    font-weight: 500;
  }
}

.footer {
  @include globalMixins.div(large);
  width: 90%;
  height: 20%;
  border: none;
  justify-content: flex-start;

  p {
    line-height: 1;
    font-size: 18px;
    font-weight: 400;
  }
}
