@use "@shared/styles/variables/variables.module" as globalVariables;
@use "@shared/styles/mixins/divMixin" as globalMixins;
@use "@shared/styles/mixins/transformMixin" as globalTransformMixin;
.container {
  @include globalMixins.div(standard);
  // padding: 20px 5px;
  padding: 0.5rem 0.3125rem;
  line-break: anywhere;
  flex-direction: column;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";

  grid-template-rows: 20% 50% 30%;
  grid-template-columns: 1fr;
  @include globalTransformMixin.transformMixin();
}

.containerLarge {
  width: 420px;
  height: 180px;
}

.header {
  @include globalMixins.div();
  min-height: 10%;
  grid-area: header;
  height: 100%;
  width: 100%;
  border: none;
  justify-content: flex-start;
  gap: 5%;
  h3 {
    font-size: 20px;
    font-weight: 500;
  }
}

.content {
  @include globalMixins.div(small);
  grid-area: content;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  border: none;
  svg {
    width: 90%;
    height: 90%; 
  }
  p{
    font-size: 2rem;
  }
}

.footer {
  @include globalMixins.div();
  grid-area: footer;
  width: 100%;
  height: 100%;
  border: none;
  justify-content: flex-start;
  p {
    line-height: 1;
    font-size: 1.125rem;
    font-weight: 400;
  }
}
