@use "@shared/styles/mixins/div_mixin" as global_div_mixins;
.main__con {
  @include global_div_mixins.div-style();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: transparent;
  backdrop-filter: blur(5px);
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  border: none;
}
