@use "@shared/styles/mixins/divMixin" as globalDivMixins;
@use "@shared/styles/mixins/btnMixin" as globalBtnMixins;
@use "@shared/styles/mixins/themeMixin" as themeMixin;
.modalCon {
  @include globalDivMixins.div();
  gap: 0.5rem;
  padding: 0;
  overflow: hidden;
  z-index: 10000;
  height: 100dvh;
  width: 100dvw;
  background-color: transparent;
  border: none;
  .content {
    @include globalDivMixins.div();
    display: grid;
    grid-template-areas: "main close-btn";
    column-gap: 1rem;
    padding: 1rem;
    width: auto;
    height: auto;
    @include themeMixin.themeToggle();
  }

  .closeBtn {
    @include globalBtnMixins.btn();
    grid-area: close-btn;
    width: auto;
    height: 100%;
    
    flex-direction: row-reverse;
    background-color: transparent;
  }
}
