@use "@shared/styles/mixins/divMixin.scss" as globalDivMixins;
@use "@shared/styles/mixins/btnMixin.scss" as globalBtnMixins;
@use "@shared/styles/variables/variables.module" as globalVariables;
// nav
.navCon {
  @include globalDivMixins.div(large);
  height: 5%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.navContent {
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  padding-right: 15px;
}
.navLinksCon {
  @include globalDivMixins.div(large);
  border: none;
  height: 90%;
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
  font-size: 18px;

  ul {
    display: flex;
    list-style-type: none;
    gap: 30px;

    li {
      cursor: pointer;
      border-radius: 2px;
      padding: 3px;
    }

    li:hover {
      background-color: white;
      color: black;
    }
  }

  .link {
    all: unset;
    &Active {
      all: unset;
      text-decoration: underline;
      text-decoration-color: white;
      text-underline-offset: 4px;
      text-decoration-thickness: 2px;
    }
  }
}

.searchCon {
  @include globalDivMixins.div(large);
  font-size: 16px;
  justify-content: flex-start;
  height: 30px;
  width: 300px;
  padding: 5px 10px;
  grid-area: 1 / 2 / 2 / 3;
  gap: 5%;
  input {
    all: unset;
    height: 30px;
    background-color: inherit;
    color: inherit;
    border: none;
    font-family: inherit;
    width: 70%;
  }
}

.searchShortCut {
  height: inherit;
  width: auto;
  max-width: 30%;
  gap: 7%;
  display: flex;
  justify-content: center;
  align-items:center;
  div {
    @include globalDivMixins.div();
    padding: 0;
    border-width: 2px;
    height: 100%;
  }
}

.navGitBtn {
  @include globalBtnMixins.btn();
  width: 150px;
  height: 50px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  gap: 4%;
}

.navLogOutBtn {
  @include globalBtnMixins.btn();
  height: 50px;
  width: 15%;
  font-size: 16px;
  border: solid;
}
.navThemeBtn {
  @include globalBtnMixins.btn();
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
}
