@use "@shared/styles/mixins/divMixin.scss" as globalDivMixins;
@use "@shared/styles/mixins/btnMixin.scss" as globalBtnMixins;
@use "@shared/styles/variables/variables.module" as globalVariables;
@use "@shared/styles/mixins/transformMixin" as globalTransformMixin;
// nav
.navCon {
  @include globalDivMixins.div(large);
  height: 5%;
  max-height: 5%;
  width: 100%;
  display: grid;
  padding: 2rem;
  column-gap: 20%;
  grid-template-columns: 10% 65% ;
  grid-template-areas: "navLinksCon navContent";
}

.navLinksCon {
  @include globalDivMixins.div();
  // border: none;
  height: 100%;
  width: 100%;
  grid-area: navLinksCon;
  font-size: 18px;

  ul {
    @include globalDivMixins.div();
    border: none;
    width: 100%;
    height: 100%;
    list-style-type: none;
    gap: 30px;

    li {
      @include globalDivMixins.div();
      border: none;
      border-radius: 4px;

      width: auto;
      height: auto;
      cursor: pointer;

      &:hover {
        background-color: globalVariables.$baseBackColorDark;
        color: globalVariables.$baseFontColorDark;
        :global(html.dark) & {
          background-color: globalVariables.$baseBackColor;
          color: globalVariables.$baseFontColor;
        }
      }
    }
  }

  .link {
    all: unset;
  }
}

.searchCon {
  @include globalDivMixins.div();
  font-size: 16px;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  gap: 5%;
  input {
    all: unset;
    height: 30px;
    background-color: inherit;
    color: inherit;
    border: none;
    font-family: inherit;
    width: 70%;
  }
  @include globalTransformMixin.transformMixin();
}

.searchShortCut {
  height: inherit;
  width: auto;
  max-width: 30%;
  gap: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    @include globalDivMixins.div();
    padding: 0;
    height: 100%;
  }
}

.navGitBtn {
  @include globalBtnMixins.btn();
  width: 150px;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  gap: 4%;
}

.navLogOutBtn {
  @include globalBtnMixins.btn();
  height: 100%;
  width: 15%;
  font-size: 16px;
}
.themeBtn {
  @include globalBtnMixins.btn();
  width: 50px;
  height: 100%;
  outline: none;
}
.themeBtnContent {
  @include globalDivMixins.div();
  z-index: 100;
  font-size: 1.25rem;
  flex-direction: column;
  width: 150px;
  height: auto;
  padding: 0.75rem;
  row-gap: 0.5rem;
  border-color: globalVariables.$baseBackColorDark;
  background-color: globalVariables.$baseBackColor;
  color: globalVariables.$baseFontColorDark;
  :global(html.dark) & {
    background-color: globalVariables.$baseBackColorDark;
    border-color: globalVariables.$baseBackColor;
    color: globalVariables.$baseFontColor;
  }

  .themeBtnContentItem {
    @include globalBtnMixins.btn();
    background-color: globalVariables.$baseBackColor;
    color: globalVariables.$baseFontColor;
    border-color: inherit;
    width: 90%;
    height: auto;
    :global(html.dark) & {
      background-color: globalVariables.$baseBackColorDark;
      color: globalVariables.$baseFontColorDark;
    }
  }
}

.navContent {
  @include globalDivMixins.div();
  grid-area: navContent;
  padding: 1rem;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  column-gap: 20px;
}
