@use "@shared/styles/variables/variables.module" as globalVariables;
@use "@shared/styles/mixins/divMixin" as globalDivMixins;
@keyframes loading {
  from {
    background-color: gray;
  }
  to {
  }
}

.skeletonCon {
  border: solid;
  animation: loading 1.5s infinite;
}
