@use "@shared/styles/mixins/divMixin.scss" as globalDivMixins;
@use "@shared/styles/mixins/btnMixin.scss" as globalBtnMixins;
@use "@shared/styles/variables/variables.module" as globalVariables;
@use "@shared/styles/mixins/darkModeMixin" as globalDarkModeMixin;
.themeBtn {
  @include globalBtnMixins.btn();
  width: 100%;
  height: 100%;
  outline: none;
}
.themeBtnContent {
  @include globalDivMixins.div();
  width: auto;
  height: auto;
  padding: 0.2rem 1rem;
  margin-top: 0.2rem;
  z-index: 100;

  font-size: 1.25rem;
  flex-direction: column;

  row-gap: 0.5rem;
  border-color: globalVariables.$baseBackColorDark;
  background-color: globalVariables.$baseBackColor;
  color: globalVariables.$baseFontColorDark;
  @include globalDarkModeMixin.darkModeMixin(globalVariables.$baseBackColorDark);

  .themeBtnContentItem {
    @include globalBtnMixins.btn();
    padding: 0.2rem 1.5rem;
    width: 100%;
    height: auto;

    background-color: globalVariables.$baseBackColor;
    color: globalVariables.$baseFontColor;
    border-color: inherit;

    @include globalDarkModeMixin.darkModeMixin(
      inherit,
      $border-color: globalVariables.$baseBorderColorDark
    );
  }
}
